@font-face {
  font-family: 'My-font';
  src: local('FOTRodinBokutohProEB'),
  url("./Assets/Font/FOTRodinBokutohProEB.ttf") format("truetype");
}

/*PALETTE
LIGHT GREEN: #bcf8cb
DARK GREEN: #66b888
SATURATED GREEN: #a4d740

PALE WHITE: #f5f7e9
DARK GREY: #39383d
SPEECH BUBBLE: #f7f5de

REDDISH BROWN: #744436
YELLOWISH BROWN: #ad7a3e
TEXT BROWN: #6a4a3f
*/

* {
  font-family: "My-font";
  color: #f7f5de;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #bcf8cb;
  align-items: center;
  background-image: url("./Assets/Icons/Animal_Crossing_Leaf.png");
  background-size: 1080px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

.header {
  background-color: #66b888;
  text-align: center;
  color: #f7f5de;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
}
.title {
  display: flex;

}

.nav{
  display: "flex",
}

.ToDoWrapper {
  background: #66b888;
  margin-top: 15rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.ToDo-Input {
  display: flex;
  align-items: center;
  outline: none;
  background: none;
  border: 3px solid #f7f5de;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #f7f5de;
}

.ToDo-Input img{
  padding-left: 10px;
  filter: invert(98%) sepia(4%) saturate(1091%) hue-rotate(342deg) brightness(103%) contrast(94%);

}

.Input-field {
  flex: 1;
  margin: 5px;
  background: none;
  border: none;
  color: #f7f5de;
}

.Input-field::placeholder {
  color: #f7f5de;
}

.Input-field:focus {
  outline: none;
}

.ToDo-btn {
  background: #f7f5de;
  color: #6a4a3f;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-right: 0px;
}

.ToDo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f7f5de;
  color: #6a4a3f;
  padding: 0.75rem 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.ToDo p{
  color: #6a4a3f;
  margin: 0;
  margin-left: 15px;
}

.ToDo img{
  margin: 0;
  padding: 0;
  margin-left: 0.5rem;
}

.ToDo .ToDo-Icons {
  display: flex;
  align-items: center;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #6a4a3f;
  text-decoration: 3px line-through;
  cursor: pointer;
}

.feather-icon, .can-icon {
  cursor: pointer;
}
 
.Wrapper{
  background: #66b888;
  margin-top: 10rem;
  margin-bottom: 5rem;
  padding: 2rem;
  border-radius: 5px;
  color: #6a4a3f;
  padding: 8px;
  border-radius: 8px;
  display: inline-block;
}

.Wrapper h2{
  color: #f7f5de;
  margin: 0;
  padding: 0;
}

.Wrapper p{
  text-align: left;
  color: #6a4a3f;
  width: 500px;
  padding: 20px;
  margin: 25px;
  margin-top: 5px;
  border-radius: 8px;
  background-color:#f7f5de;
}

b{
  color: #09a059;
}
